<?xml version="1.0" encoding="UTF-8"?>
<module>
	<fragment name="home">
		<struc name="/slothsoft/default" />
		<fragment name="content">
			<template name="home" />
		</fragment>
	</fragment>

	<fragment name="combos">
		<struc name="/slothsoft/default" />
		<fragment name="content">
			<struc name="/core/DOM" />
			<template name="_combos" />
			<style name="/slothsoft/default" />
			<style name="default" />
			<script name="ComboManager" />
			<res name="combos" load="xml" />
			<resDir name="games" load="xml" />
		</fragment>
	</fragment>

	<resource name="sites" path="sites.xml" type="application/xml" />
	<resource name="combos" path="combos.xml" type="application/xml" />
	<resourceDir name="games" path="games" type="application/xml" />

	<!-- <fragment name="pics"> <struc name="default"/> <template name="pics"/> 
		<data name="pics-upload"/> <resDir name="pics" load="status"/> </fragment> 
		<fragment name="pics2"> <struc name="default"/> <template name="pics"/> <resDir 
		name="pics"/> </fragment> <fragment name="fonts"> <template name="fonts"/> 
		<resDir name="/slothsoft/fonts" as="fonts" load="xml"/> <param name="standalone" 
		scope="global"/> </fragment> <fragment name="misc"> <resDir name="misc" load="xml"/> 
		</fragment> <resourceDir name="pics" path="pics" type="image/*"/> <resourceDir 
		name="txt" path="txt" type="text/plain"/> <resourceDir name="misc" path="misc" 
		type="*/*"/> <resource name="unicode" path="unicode.xml" type="application/xml"/> 
		<struc name="default"> <style name="/slothsoft/default"/> <style name="/slothsoft/fonts"/> 
		</struc> <fragment name="8bit"> <template name="_8bit"/> <res name="8bit" 
		load="xml"/> <struc name="/core/HTML5"/> <param name="standalone" scope="global"/> 
		</fragment> <fragment name="vc2"> <template name="_vc2"/> <res name="vc2a" 
		load="xml"/> <res name="vc2b" load="xml"/> <res name="vc2c" load="xml"/> 
		<struc name="/core/HTML5"/> <param name="standalone" scope="global"/> </fragment> 
		<resource name="8bit" path="8bit.xml" type="application/xml"/> <resource 
		name="vc2a" path="vc2a.csv" type="text/csv" del="&#09;" sep="" output="thead"/> 
		<resource name="vc2b" path="vc2b.csv" type="text/csv" del="&#09;" sep="" 
		output="thead"/> <resource name="vc2c" path="vc2c.csv" type="text/csv" del="&#09;" 
		sep="" output="thead"/> <resourceDir name="8bit-comics" path="8bit" type="image/*"/> 
		<resourceDir name="8bit-thumbs" path="8bit-thumb" type="image/png"/> -->
</module>