<?xml version="1.0"?>
<module xmlns="http://schema.slothsoft.net/farah/module" xmlns:sfm="http://schema.slothsoft.net/farah/module">
  <!--
Farah Module Manifest

Module: dragonage
Vendor: slothsoft
Farah ID: farah://slothsoft@dragonage
Composer ID: slothsoft/dragonage

Homepage: http://farah.slothsoft.net/modules/dragonage
Packagist: https://packagist.org/packages/slothsoft/dragonage
GitHub: https://github.com/Faulo/slothsoft-dragonage

Llo
-->
  <default-configuration/>
  <assets>
    <resource-directory name="data" path="data" type="application/x-php"/>
    <resource-directory name="css" path="stylesheet" type="text/css"/>
    <resource-directory name="js" path="script" type="application/javascript"/>
    <resource-directory name="xsl" path="template" type="application/xslt+xml"/>
    <resource-directory name="dictionary" path="dictionary" type="application/xml"/>
    <resource-directory name="pages" path="pages" type="application/xml"/>
    <fragment name="home">
      <include-fragment ref="//slothsoft@slothsoft/default"/>
      <fragment name="content">
        <use-template ref="xsl/home"/>
      </fragment>
    </fragment>
    <fragment name="combos">
      <include-fragment ref="//slothsoft@slothsoft/default"/>
      <fragment name="content">
        <include-fragment ref="//slothsoft@core/DOM"/>
        <use-template ref="xsl/_combos"/>
        <use-stylesheet ref="//slothsoft@slothsoft/css/default"/>
        <use-stylesheet ref="css/default"/>
        <use-script ref="js/ComboManager"/>
        <use-document ref="static/combos"/>
        <use-document ref="static/games"/>
      </fragment>
    </fragment>
    <directory name="static">
      <resource name="sites" type="application/xml" path="sites.xml"/>
      <resource name="combos" type="application/xml" path="combos.xml"/>
      <resource-directory name="games" type="application/xml" path="games"/>
    </directory>
  </assets>
</module>
